.card-login__title {
    position: relative;
}

.card-login__title .logo-big {
    width: 300px;
}


.card-login__title .name-company {
    font-family: "ALS Sector";
    position: absolute;
    top: 1px;
    left: 45px;
    font-size: 10px;
    line-height: 11px;
    display: block;
    font-weight: bold;
    border: none;
    margin-right: 0;
    width: 118px;
    padding-right: 5px;
    text-transform: uppercase;
    letter-spacing: normal;
    text-align: left;
    color: #231f20;
}

.footer.footer-transparent .copyright {
    white-space: normal;
}
.table > tbody > tr > td {
    padding: 12px 11px !important;
}
.grid-action-col {
    padding-left: 7px !important;
    min-width: 98px;
}
.grid-action-col a {
    display: inline-block !important;
}
.grid-action-col a:not(:last-child) {
    margin-right: 3px;
}
.grid-action-col .glyphicon.glyphicon-plus {
    padding: 0;
}


@media (max-width: 450px) {
    .card-login__title .logo-big {
        width: 280px;
    }

    .card-login__title .name-company {
        font-size: 9px;
        line-height: 10px;
        width: 107px;
        left: 43px;
    }
    .card.card-login .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

