:root {
    --color: #305b9c;
}

body {
    /* margin: 0; */
    /* font-size: 1.6rem; */
    /* font-family: 'GOSTUI2', serif; */
}

.calc_container {
    padding: 3%;
}

.calc {
    display: grid;
    grid-gap: 20px;
}

.calc__title {
    font-size: 28px;
    font-weight: bold;
    color: var(--color);
    cursor: default;
}

.calc__grid {
    display: grid;
    grid-gap: 20px;
}

.calc__box {
    display: grid;
    grid-template-columns: minmax(100px, 300px) minmax(300px, 500px);
    grid-gap: 10px;
}

.calc__box_name {
    display: grid;
    align-items: center;
    font-size: 16px;
    color: var(--color);
}

.calc_error {
    font-size: 16px;
    color: #dc3545;
    font-weight: bold;
}

.calc__box_field {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.calc__box_field.box_salary {
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

[data-start]::before {
    content: 'Дата приема ';
    grid-column: span 2;
    display: grid;
    font-size: 14px;
    color: var(--color);
    padding-left: 7px;
}

[data-end]::before {
    content: 'Дата увольнения';
    grid-column: span 2;
    display: grid;
    font-size: 14px;
    color: var(--color);
    padding-left: 7px;
}

.calc__fields_list {
    display: grid;
    grid-gap: 10px;
}

.calc__item_date {
    position: relative;
    /* display: grid;
    grid-template-columns: 1fr 1fr 20px;
    grid-gap: 10px; */
}

.calc__val {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #fff;
    color: #404040;
    border: 1px solid #b5b5b5;
    font-size: 16px;
    border-radius: 7px 0 0 7px;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    z-index: 0;
    transition: all .3s ease;
}

select.calc__val {
    width: 100%;
}

.calc__val[type="number"] {
    border-radius: 7px;
    height: 38px;
    width: calc(100% - 22px);
}

.calc__val[type="date"]::-webkit-inner-spin-button,
.calc__val[type="date"]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
}

.calc__val:focus {
    outline: none;
    border-color: var(--color);
}

.calc__icon {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 40px;
    background-color: var(--color);
    border-radius: 0 7px 7px 0;
    z-index: 1;
}

.calc__icon--svg {
    fill: #fff;
    width: 18px;
    height: 40px;
}

.date__block_control {
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-content: end;
}

.date__control_btn {
    width: 100%;
    height: 35px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    background-color: var(--color);
    color: #fff;
    border: none;
    border-radius: 7px;
    transition: all .3s ease;
    cursor: pointer;
}

.date__control_btn:hover {
    background-color: #17376b;
}

.date__control_btn.fr {
    grid-column: span 2;
}

.calc__date_remove {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-weight: bold;
    color: #dc3545;
    font-size: 30px;
    border: none;
    border-radius: 7px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: all .3s ease;
}

.calc__date_remove:hover {
    color: #dc1d23;
}

.salary_btn {
    padding: 0 15px;
    height: 40px;
    background-color: var(--color);
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    z-index: 1;
    transition: all .3s ease;
}

.salary_btn:hover {
    background-color: #17376b;
}

.calc__box_sum {

}

.calc__val_total {
    color: var(--color);
    padding: 10px 0;
}

.calc__val_total--value {
    font-size: 20px;
    font-weight: bold;
}

.calc__desc {
    font-size: 14px;
}

/*btn color*/
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

@media (max-width: 700px) {
    .calc__box {
        grid-template-columns: 1fr;
    }

    .date__block_control {
        grid-column-end: auto;
    }

    .calc__val[type="date"] {
        width: 100%;
    }

    .calc__val_total,
    .calc__val {
        font-size: 14px;
    }
}
.calc__item_date .Zebra_DatePicker_Icon_Wrapper .Zebra_DatePicker_Icon{
    z-index: 1;
}
@media (max-width: 350px) {
    [data-end]::before,
    [data-start]::before {
        /* grid-template-columns: min-content; */
    }
    .calc__val_total,
    .calc__val {
        font-size: 13px;
    }
}















/* edit */
.calc{
    margin-bottom: 40px;
}
.calc_container{
    padding: 0;
}
.calc__title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #231f20;
}
.calc__box_name{
    width: 100%;
    color: #231f20;
    font-weight: 700;
    margin-bottom: 4px;
}
[data-start]::before,
[data-end]::before{
    color: #231f20;
    width: 100%;
    padding-left: 0;
    margin-bottom: 4px;
}
.calc{
    grid-gap: 0;
    font-size: 16px;
}
.calc .dropdown-toggle .filter-option {
    white-space: normal;
}
.calc .dropdown-toggle{
    padding-right: 35px;
}
.calc__box{
    display: block;
}
.calc__box_field{
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.calc__val{
    border: 1px solid #e1e3e7;
    height: 58px;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 6px;
    width: 100%;
    padding-right: 12px;
    cursor: pointer;
}
.calc__icon{
    display: flex;
    height: 56px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    background-color: #fff;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAAq0lEQVQYlW3OMWpCURCF4S+ijY2FuIwUKWzdgBaWQspkB2YJafN6C7GyEARBsEiTBSRLsUyXIsh5XOEK/jAw95wzM/fhvVk9Yo0pzu4zwgkvHWwxxicGd+KD4iWzzcArfvGEI/pVOH20eMm0F74xxx8m2KFXKn20eMn8dMumLyywxwyboqf/L14ycuHKoXwvPJcK0eK11AMhm5fV+6261nL9Uk2DYRE+bhxcAH+EHfRne74XAAAAAElFTkSuQmCC');
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    bottom: 1px;
    width: 28px;
    pointer-events: none;
}
.calc__item_date{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    align-items: flex-end;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.calc__item_date:after{
    height: 1px;
    background-color: #e1e3e7;
    position: absolute;
    content: '';
    bottom: 0;
    left: 10px;
    right: 10px;
}
.calc__fields_list .calc__box_field{
    width: calc(100% / 2 - 20px - 35px);
    margin-right: 10px;
    margin-left: 10px;
}
.calc__box_name,
[data-start]::before, [data-end]::before{
    font-size: 16px;
}
.calc__date_remove{
    width: 58px;
    height: 58px;
    border-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e1e3e7;
    outline: none;
}
.calc__grid>.calc__box:nth-child(2){
    position: relative;
}
.calc__grid #date_add{
    width: 220px;
    height: 54px;
    border-radius: 4px;
    background-color: #2558a5;
    text-transform: none;
    font-size: 16px;
}
.date__block_control{
    display: flex;
    flex-wrap: wrap;
}
.date__block_control>*:not(:last-child){
    margin-right: 20px;
}
#date_total,
#salary_btn{
    background-color: #e20338;
    color: #fff;
    width: 220px;
    height: 54px;
    border-radius: 4px;
    text-transform: none;
    font-size: 16px;
}
.calc hr{
    display: none;
}
.calc{
    position: relative;
    z-index: 2;
}
.calc__grid #date_add{
    bottom: 90px;
}
.calc__box_sum{
    margin-top: 40px;
}
.box_salary .calc__val[type="number"]{
    border-radius: 4px;
    height: 58px;
    margin-bottom: 30px;
}
.calc__val_total{
    background-color: #f6f7f8;
    border-radius: 4px;
    font-size: 18px;
    color: #231f20;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.calc__desc{
    font-size: 16px;
}
.calc__box .bootstrap-select{
    padding: 0;
    z-index: 4;
}
.calc__box .calc__box_field .btn-group+.calc__icon{
    display: none;
}
.calc__box .calc__val.bootstrap-select{
    border: none !important;
    min-height: 58px !important;
    height:  auto !important;
}
.calc li:before{
    display: none !important;
}
.calc .dropdown-menu > li > a:after, .calc  .dropdown-menu-header > li > a:after{
    display: none !important;
}
.calc .bootstrap-select.btn-group .dropdown-menu li a{
    padding-top: 8px;
    padding-bottom: 8px;
    border: none !important;
}
.calc .bootstrap-select.btn-group .dropdown-menu li{
    padding: 0 !important;
}
.calc .bootstrap-select.btn-group .dropdown-menu li{
    margin-bottom: 0 !important;
}
@media (max-width: 520px) {
    .date__block_control>*{
        margin-bottom: 10px;
        width: 100% !important;
        margin-right: 0 !important;
    }
    .calc__fields_list .calc__box_field{
        width: calc(100% - 20px);
        margin-bottom: 5px;
    }
    .calc__date_remove{
        margin-left: 10px;
        margin-top: 5px;
        color: transparent;
        width: 200px;
    }
    .calc__date_remove:after{
        content: 'Удалить';
        color: #e20338;
        font-size: 16px;
        margin-left: -16px;
    }
    
}
.calc input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}