.colorsx {
    fill: #c8c8c8;
}

.search__findme {
    border: 1px solid #dde0e3;
    margin: 0;
    padding: 0;
    height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e20338;
    border-radius: 4px;
    min-width: 56px;
    margin-right: 10px;
    background-color: #fff;
    font-weight: 20px;
}

.soc-helper__field {
    display: flex;
}

.form-group--placeholder-fix label.placeholder {
    right: 17px;
    white-space: nowrap;
    overflow: hidden;
}

.main-news-test__image {
    overflow: hidden !important;
}

.mapz-infox {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 1250px;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 2;
}

.mapz-infox__box {
    padding-left: 13px;
    padding-right: 13px;
    background-color: #fff;
    color: #231f20;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    height: 38px;
}

.mapz-infox__box:first-child {
    border-top-left-radius: 3px;
}

.mapz-infox__box:last-child {
    border-top-right-radius: 3px;
}

.mapz-infox__circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    margin-right: 12px;
}

@media only screen and (max-width: 767px) {
    .colxs {
        flex-wrap: wrap;
    }
    .mpzx-link {
        position: static;
        transform: none;
        margin-top: 20px;
    }
    .mapz-infox {
        flex-wrap: wrap;
    }
    .mapz-infox__box {
        width: 100%;
        height: 26px;
    }
}

.mapz-small .mapz-infox {
    display: none;
}

.mapz-small.active .mapz-infox {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 420px;
}

.mapz__map {
    overflow: hidden;
}

.mapz.mapz-small.active .mapz__tabheader {
    top: 27px !important;
}

.form-sub-title:first-child {
    margin-top: 0;
}

.action-preview--main .action-preview__box .img svg,
.action-preview--main .action-preview__box .img svg * {
    fill: #fff;
}

.action-preview .img svg {
    max-height: 100%;
    width: auto;
}

.action-preview .img svg .st-red {
    fill: #e20338;
}

.action-preview .img svg .st-blue {
    fill: #2295b5;
}

.mapz-card .mapz-card__header {
    flex-shrink: 0;
}

.tag-block.tag-block--fancy {
    display: flex;
    align-items: center;
}

.tag-block.tag-block--fancy .tag-block__list,
.tag-block.tag-block--fancy .tag-block__title {
    margin: 0;
}

.tag-block.tag-block--fancy .tag-block__list {
    margin-left: 15px;
}

.tag-block.tag-block--fancy .tag-block__ell {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-box-group-tit .form-box:not(:first-child) {
    padding-top: 30px;
}

html[color-theme=theme-red] .tags-result-list a.tag:hover {
    color: #fff !important;
}

html[color-theme=theme-red] .tags-result-list .post-list a.title:hover {
    color: #e20338 !important;
}

.ansver__text {
    margin-top: 15px;
    width: 100%;
}

.ansver__text input {
    margin-left: 0;
}

.fancybox-image-wrap {
    max-height: calc(100vh - 160px) !important;
    width: auto !important;
}

.report {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
}

.report__item {
    border: 1px solid #d5dae0;
    width: calc(100% / 4 - 20px);
    margin-bottom: 20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: #e20338;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
}

.report__item:not(:last-child) {
    margin-right: 20px;
}

.report__item--select {
    border-color: #e20338;
}

.report__item:hover {
    background-color: #d5dae0;
    border-color: #d5dae0;
}

@media only screen and (max-width: 767px) {
    .report__item {
        width: calc(100% - 20px);
    }
    .report__item:not(:last-child) {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.soc-center__info {
    overflow: hidden;
}

#guide-map {
    position: relative;
}

#guide-map .lohex {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    margin: 0 !important;
}

.st.active .bk {
    fill: #fff !important;
}

.st.active .stx {
    fill: #e20338 !important;
}

.spoiler-box__button .btn:focus,
.spoiler-box__button .btn:active {
    fill: #fff;
}

.new-panel .map-city__name {
    font-size: 2rem;
}

.icons__box.active .icons__text,
.icons__box:hover .icons__text {
    color: #fff !important;
    opacity: 0.6;
}

.icons__icon svg,
.icons__icon svg path,
.item-wrap svg path {
    fill: #2398ab !important;
}

.icons__box.active .icons__icon svg,
.icons__box:hover .icons__icon svg,
.icons__box:hover .icons__icon svg path,
.icons__box.active .icons__icon svg path {
    fill: #fff !important;
    opacity: 0.6;
}

.popover {
    font-size: 1.6rem;
}

.test-result__text {
    font-size: 1.6rem;
}

html[kerning=size-lg] .panel-blind .setting-box .btn,
html[kerning=size-md] .panel-blind .setting-box .btn {
    padding: 5px 10px;
    margin-right: 5px;
}

html[kerning=size-lg] .panel-blind__box,
html[kerning=size-md] .panel-blind__box {
    margin-right: 70px;
}

@media only screen and (max-width: 1270px) {
    html[kerning=size-lg] .panel-blind__setting,
    html[kerning=size-md] .panel-blind__setting {
        flex-wrap: wrap;
    }
    html[kerning=size-lg] .layer-top.panel-small,
    html[kerning=size-md] .layer-top.panel-small {
        height: 440px;
    }
    html[kerning=size-lg] .layer-top-open.open-panel-small .header,
    html[kerning=size-md] .layer-top-open.open-panel-small .header {
        padding-top: 430px;
    }
}

html[kerning=size-lg] .panel-blind .setting-box .btn-garniture,
html[kerning=size-lg] .panel-blind .setting-box .btn-kerning,
html[kerning=size-lg] .panel-blind .setting-box .btn-img,
html[kerning=size-md] .panel-blind .setting-box .btn-garniture,
html[kerning=size-md] .panel-blind .setting-box .btn-kerning,
html[kerning=size-md] .panel-blind .setting-box .btn-img {
    min-width: 90px;
}

html[kerning=size-lg] .test-qstn__comeback,
html[kerning=size-md] .test-qstn__comeback {
    width: auto;
}

html[kerning=size-lg] .sidebar-test__header span,
html[kerning=size-md] .sidebar-test__header span {
    padding-left: 5px;
}

html[kerning=size-lg] .form-group--placeholder-fix label.placeholder,
html[kerning=size-md] .form-group--placeholder-fix label.placeholder {
    white-space: nowrap;
    max-width: calc(100% - 50px);
    overflow: hidden;
}

html[kerning=size-lg] .mos-prime-slide__title {
    max-width: 90%;
}

html[kerning=size-lg] .header__main-nav {
    padding-left: 420px;
}

html[kerning=size-lg] .header__widget-list>li {
    margin-left: 10px;
}

html[kerning=size-lg] .h2.blind-text-bg {
    overflow: hidden;
    height: 80px;
}

html[kerning=size-lg] .slider-main__sub-text {
    height: 85px;
    overflow: hidden;
}

html[kerning=size-lg] .new-panel .map-city__name,
html[kerning=size-lg] .map-city__address {
    letter-spacing: 5px;
}

.sec-map__block img,
.news-card__photo img {
    display: none;
}

@media print {
    .sec-map__block img,
    .news-card__photo img {
        display: block;
    }
}

html[font-size=size-md] .tst-box__image,
html[font-size=size-lg] .tst-box__image {
    margin-right: 15px;
    width: 260px;
    max-width: 260px;
    min-width: 260px;
}

html[font-size=size-md] .tst-box__header,
html[font-size=size-lg] .tst-box__header {
    height: auto;
}

html[font-size=size-md] .tst-box__title,
html[font-size=size-lg] .tst-box__title {
    max-height: none;
}

html[kerning=size-lg] .navbar-logo,
html[kerning=size-md] .navbar-logo {
    display: flex;
    padding-top: 15px;
}

html[kerning=size-lg] .navbar-logo {
    align-items: flex-start;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

.row-item {
    display: flex;
    align-items: flex-end;
}

.filter-events--edit .filter-events__tab {
    display: flex;
    align-items: center;
}

.service-pop-banner .icon-banner svg {
    fill: #fff !important;
}

html[color-schema=color-blue] .test-result__social-item a:hover .fa,
html[color-schema=color-blue] .test-result__type,
html[color-schema=color-blue] .test-result__res {
    color: #063462;
}

html[color-schema=color-blue] .filter-events__tab-reset:hover,
html[color-schema=color-blue] .filter-events__tab-reset:hover svg,
html[color-schema=color-blue] .filter-events__tab-reset:hover span,
html[color-schema=color-blue] .sidebar-test__header span {
    color: #063462;
    fill: #063462;
    border-color: #063462;
}

html[color-schema=color-blue] .sec-msc__slider .slick-dots li button {
    background-color: #063462 !important;
}

html[color-schema=color-blue] .btn-default-color,
html[color-schema=color-blue] .spoiler-box__button .btn-icon,
html[color-schema=color-blue] .st:hover .stx,
html[color-schema=color-blue] .icons__box.active .icons__icon svg,
html[color-schema=color-blue] .icons__box:hover .icons__icon svg,
html[color-schema=color-blue] .icons__box.active .icons__icon svg path,
html[color-schema=color-blue] .icons__box:hover .icons__icon svg path,
html[color-schema=color-blue] .item-wrap svg path {
    fill: #063462 !important;
}

html[color-schema=color-blue] .aside__subtitle {
    padding-left: 0;
}

html[color-schema=color-blue] .vac__title,
html[color-schema=color-blue] .vac__box:hover .vac__title,
html[color-schema=color-blue] .vac__sub,
html[color-schema=color-blue] .spoiler-box__txt,
html[color-schema=color-blue] .tag-block__text,
html[color-schema=color-blue] .vac__box:hover .vac__sub,
html[color-schema=color-blue] .poppover-info,
html[color-schema=color-blue] .spoiler-box__content a:not([class]):hover,
html[color-schema=color-blue] .aside__subtitle,
html[color-schema=color-blue] .cat-result__text,
html[color-schema=color-blue] .mos-cont__ell .prime a:hover,
html[color-schema=color-blue] .guide-docs__date,
html[color-schema=color-blue] .guide-docs__type,
html[color-schema=color-blue] .news-card__date,
html[color-schema=color-blue] .header-nav>li:hover>a {
    color: #063462 !important;
}

html[color-schema=color-blue] .aside__list-nav>li:after,
html[color-schema=color-blue] .spoiler-box--edit .spoiler-box__content:after {
    background-color: #063462;
}

html[color-schema=color-blue] .vac__box,
html[color-schema=color-blue] .side-info,
html[color-schema=color-blue] .cat-result__item {
    border-color: #063462 !important;
}

html[color-schema=color-blue] .aside__subtitle img {
    display: none;
}

html[color-schema=color-blue] .inf-card:hover .inf-card__tag,
html[color-schema=color-blue] .guide__title,
html[color-schema=color-blue] .guide__info-gray,
html[color-schema=color-blue] .guide__info-item,
html[color-schema=color-blue] .guide__text-wrap p,
html[color-schema=color-blue] .cat-result__title,
html[color-schema=color-blue] .guide-photos__sum,
html[color-schema=color-blue] .cat-result__item,
html[color-schema=color-blue] .cat-result__item:hover,
html[color-schema=color-blue] .cat-result__show-more,
html[color-schema=color-blue] .avtorization-form .btn-and-text .forget-password:hover,
html[color-schema=color-blue] .cat-result__item:hover .cat-result__text,
html[color-schema=color-blue] .cat-result__item:hover .cat-result__title,
html[color-schema=color-blue] .cat-result__item:hover .fa {
    color: #063462 !important;
}

html[color-schema=color-blue] .aside__list-nav>li:after,
html[color-schema=color-blue] .guide__box,
html[color-schema=color-blue] .guide__text-wrap {
    border-color: #063462;
}

html[color-schema=color-blue] .guide__info a {
    border: none !important;
}

html[color-schema=color-blue] .colorsx {
    fill: #063462;
}

html[color-schema=color-blue] .date-wiget .bootstrap-select .btn-default {
    color: transparent !important;
    text-decoration: none !important;
}

html[color-schema=color-blue] .select-date .dropdown-toggle.btn-default .filter-option {
    color: #063462 !important;
}

html[color-schema=color-blue] .select-date .dropdown-menu.inner li a:before {
    border-color: #063462 !important;
}

html[color-schema=color-blue] .mos-soc__link .text {
    color: #063462 !important;
}

html[color-schema=color-blue] .mos-soc__link:hover {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.4);
}

html[color-schema=color-blue] .filter-events__tab {
    border-color: #063462 !important;
    color: #063462 !important;
    background-color: transparent !important;
}

html[color-schema=color-blue] .filter-events__tab:hover {
    text-decoration: underline;
}

html[color-schema=color-blue] .filter-events__tab.active {
    background-color: #063462 !important;
    border-color: #063462 !important;
    color: #fff !important;
}

html[color-schema=color-blue] .filter-events--edit .filter-events__tab-reset img {
    display: none;
}

html[color-schema=color-blue] .filter-events__label,
html[color-schema=color-blue] .filter-events--edit .filter-events__tab-reset,
html[color-schema=color-blue] .event-item__address .icon-mark-2 {
    color: #063462;
}

html[color-schema=color-blue] .filter-events--edit .filter-events__tab-reset span {
    border-color: #063462;
}

html[color-schema=color-blue] .select-date .dropdown-toggle.btn-default .filter-option:before,
html[color-schema=color-blue] .select-date .dropdown-toggle.btn-default .filter-option:focus:before,
html[color-schema=color-blue] .select-date .dropdown-toggle.btn-default .filter-option:hover:before,
html[color-schema=color-blue] .select-date .dropdown-toggle.btn-default:focus .filter-option:before,
html[color-schema=color-blue] .select-date .dropdown-toggle.btn-default:hover .filter-option:before,
html[color-schema=color-blue] .select-date .btn-default[aria-expanded=true] .filter-option:before {
    background-image: url(../img/general/blue/calendar-line.svg) !important;
}

html[color-schema=color-blue] .soc-center__local label:before {
    background-image: url("../img/general/blue/map-pin-line.svg");
}

html[color-schema=color-blue] .soc-center__metro label:before {
    background-image: url("../img/general/blue/metro.svg");
}

html[color-schema=color-blue] .soc-center__phone label:before {
    background-image: url("../img/general/blue/phone-line.svg");
}

html[color-schema=color-blue] .soc-center__network label:before {
    background-image: url("../img/general/blue/icon-internet.svg");
}

html[color-schema=color-blue] .soc-center__mail label:before {
    background-image: url("../img/general/blue/icon-mail.svg");
}

html[color-schema=color-blue] .soc-center__zon label:before {
    background-image: url("../img/general/blue/important.svg");
}

html[color-schema=color-blue] .service-pop-banner .icon-banner svg {
    fill: #063462 !important;
}

html[color-schema=color-blue] .action-preview .img svg .st-blue,
html[color-schema=color-blue] .action-preview .img svg .st-red,
html[color-schema=color-blue] .action-preview--main .action-preview__box .img svg,
html[color-schema=color-blue] .action-preview--main .action-preview__box .img svg * {
    fill: #063462;
}

html[color-schema=color-blue] .event-item,
html[color-schema=color-blue] .filter-events__wrap {
    border-color: #063462;
}

html[color-schema=color-blue] .event-item__date,
html[color-schema=color-blue] .event-item__address {
    color: #063462;
}

html[color-schema=color-blue] .guide-photos__sum a:hover,
html[color-schema=color-blue] .guide__info a:hover,
html[color-schema=color-blue] .prof-helper__mail .fa-search {
    color: #063462;
}

html[color-schema=color-blue] .search-tabs .custom-tab-item a {
    border-color: #063462;
}

html[color-schema=color-blue] .search-tabs .custom-tab-item a {
    color: #063462;
}

html[color-schema=color-blue] .search-tabs .custom-tab-item.active a {
    background-color: #063462 !important;
    border-color: #063462 !important;
    color: #fff !important;
}

html[color-schema=color-blue] .inf-card__text,
html[color-schema=color-blue] .inf-card__tag,
html[color-schema=color-blue] .inf-card__info {
    color: #063462 !important;
}

html[color-schema=color-blue] .inf-card:hover {
    background-color: transparent;
}

html[color-schema=color-blue] .inf-card {
    border: 1px solid #063462;
    background-color: transparent;
}

html[color-schema=color-blue] .icons__icon svg,
html[color-schema=color-blue] .icons__icon svg path,
html[color-schema=color-blue] .icons__icon .cls-1 {
    fill: #063462 !important;
}

html[color-schema=color-blue] .event-item__title,
html[color-schema=color-blue] .member-steps__text a {
    color: #063462 !important;
}

html[color-schema=color-blue] .sec-msc-top .sec-msc__bg {
    border: 1px solid #063462;
    background-color: transparent;
}

html[color-schema=color-blue] .icons__box.active .icons__text,
html[color-schema=color-blue] .icons__box:hover .icons__text {
    color: #063462 !important;
}

html[color-schema=color-blue] .calendar#main-calendar-widget .day .day-content {
    border-color: #063462;
}

html[color-schema=color-blue] .test-list__type {
    color: #14171e;
}

html[color-schema=color-blue] .calendar#main-calendar-widget .day .day-header {
    color: #063462;
}

html[color-schema=color-blue] .bg-gray .event-line-preview__box.bg-block-sm {
    border-color: #063462 !important;
}

html[color-schema=color-blue] .mapz-card__arrow:hover:after {
    border-color: #000 !important;
}

html[color-schema=color-blue] .mapz-card__icon svg {
    fill: #000 !important;
}

html[color-schema=color-blue] .sec-map__tex {
    color: #063462;
}

html[color-schema=color-blue] .test-list__item {
    border-color: #063462 !important;
}

html[color-schema=color-blue] .aside__list-nav>li>ul a:before {
    color: #063462;
}

html[color-schema=color-blue] .media-card__date {
    color: #063462 !important;
}

html[color-schema=color-blue] .mos-soc__link {
    border: 1px solid #063462;
}

html[color-schema=color-blue] .mos-soc__link i {
    border-right-color: #063462;
}

html[color-schema=color-blue] .msc-slider__arrow {
    color: #063462;
    border-color: #063462;
}

html[color-schema=color-beige] .test-result__social-item a:hover .fa,
html[color-schema=color-beige] .test-result__type,
html[color-schema=color-beige] .test-result__res {
    color: #4d4b43;
}

html[color-schema=color-beige] .filter-events__tab-reset:hover,
html[color-schema=color-beige] .filter-events__tab-reset:hover svg,
html[color-schema=color-beige] .filter-events__tab-reset:hover span,
html[color-schema=color-beige] .sidebar-test__header span {
    color: #4d4b43;
    fill: #4d4b43;
    border-color: #4d4b43;
}

html[color-schema=color-beige] .select-date .dropdown-toggle.btn-default .filter-option:before {
    background-image: url(../img/general/beige/calendar-line.svg) !important;
}

html[color-schema=color-beige] .sec-msc__slider .slick-dots li button {
    background-color: #4d4b43 !important;
}

html[color-schema=color-beige] .aside__subtitle {
    padding-left: 0;
}

html[color-schema=color-beige] .aside__list-nav>li:after,
html[color-schema=color-beige] .spoiler-box--edit .spoiler-box__content:after {
    background-color: #4d4b43;
}

html[color-schema=color-beige] .btn-default-color,
html[color-schema=color-beige] .spoiler-box__button .btn-icon,
html[color-schema=color-beige] .st:hover .stx,
html[color-schema=color-beige] .icons__box.active .icons__icon svg,
html[color-schema=color-beige] .icons__box:hover .icons__icon svg,
html[color-schema=color-beige] .icons__box.active .icons__icon svg path,
html[color-schema=color-beige] .icons__box:hover .icons__icon svg path,
html[color-schema=color-beige] .item-wrap svg path {
    fill: #4d4b43 !important;
}

html[color-schema=color-beige] .vac__title,
html[color-schema=color-beige] .vac__box:hover .vac__title,
html[color-schema=color-beige] .vac__sub,
html[color-schema=color-beige] .aside__subtitle,
html[color-schema=color-beige] .vac__box:hover .vac__sub,
html[color-schema=color-beige] .cat-result__text,
html[color-schema=color-beige] .tag-block__text,
html[color-schema=color-beige] .poppover-info,
html[color-schema=color-beige] .spoiler-box__txt,
html[color-schema=color-beige] .guide-docs__date,
html[color-schema=color-beige] .news-card__date,
html[color-schema=color-beige] .header-nav>li:hover>a,
html[color-schema=color-beige] .guide-docs__type,
html[color-schema=color-beige] .spoiler-box__content a:not([class]):hover {
    color: #4d4b43 !important;
}

html[color-schema=color-beige] .vac__box,
html[color-schema=color-beige] .side-info,
html[color-schema=color-beige] .cat-result__item {
    border-color: #4d4b43 !important;
}

html[color-schema=color-beige] .aside__subtitle img {
    display: none;
}

html[color-schema=color-beige] .guide__title,
html[color-schema=color-beige] .guide__info-gray,
html[color-schema=color-beige] .guide__info-item,
html[color-schema=color-beige] .guide__text-wrap p,
html[color-schema=color-beige] .guide-photos__sum,
html[color-schema=color-beige] .cat-result__item,
html[color-schema=color-beige] .cat-result__item:hover,
html[color-schema=color-beige] .mos-cont__ell .prime a:hover,
html[color-schema=color-beige] .cat-result__show-more,
html[color-schema=color-beige] .cat-result__title,
html[color-schema=color-beige] .avtorization-form .btn-and-text .forget-password:hover,
html[color-schema=color-beige] .cat-result__item:hover .cat-result__text,
html[color-schema=color-beige] .cat-result__item:hover .cat-result__title,
html[color-schema=color-beige] .cat-result__item:hover .fa {
    color: #4d4b43 !important;
}

html[color-schema=color-beige] .aside__list-nav>li:after,
html[color-schema=color-beige] .guide__box {
    border-color: #4d4b43;
}

html[color-schema=color-beige] .guide__info a {
    border: none !important;
}

html[color-schema=color-beige] .colorsx {
    fill: #4d4b43;
}

html[color-schema=color-beige] .select-date .dropdown-menu.inner li a:before,
html[color-schema=color-beige] .guide__text-wrap {
    border-color: #4d4b43 !important;
}

html[color-schema=color-beige] .mos-soc__link:hover {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.4);
}

html[color-schema=color-beige] .filter-events__tab {
    border-color: #4d4b43 !important;
    color: #4d4b43 !important;
    background-color: transparent !important;
}

html[color-schema=color-beige] .filter-events__tab:hover {
    text-decoration: underline;
}

html[color-schema=color-beige] .filter-events__tab.active {
    background-color: #4d4b43 !important;
    border-color: #4d4b43 !important;
    color: #fff !important;
}

html[color-schema=color-beige] .service-pop-banner .icon-banner svg {
    fill: #4d4b43 !important;
}

html[color-schema=color-beige] .soc-center__local label:before {
    background-image: url("../img/general/beige/map-pin-line.svg");
}

html[color-schema=color-beige] .soc-center__metro label:before {
    background-image: url("../img/general/beige/metro.svg");
}

html[color-schema=color-beige] .soc-center__phone label:before {
    background-image: url("../img/general/beige/phone-line.svg");
}

html[color-schema=color-beige] .soc-center__network label:before {
    background-image: url("../img/general/beige/icon-internet.svg");
}

html[color-schema=color-beige] .soc-center__mail label:before {
    background-image: url("../img/general/beige/icon-mail.svg");
}

html[color-schema=color-beige] .soc-center__zon label:before {
    background-image: url("../img/general/beige/important.svg");
}

html[color-schema=color-beige] .action-preview .img svg .st-blue,
html[color-schema=color-beige] .action-preview .img svg .st-red,
html[color-schema=color-beige] .action-preview--main .action-preview__box .img svg,
html[color-schema=color-beige] .action-preview--main .action-preview__box .img svg * {
    fill: #4d4b43;
}

html[color-schema=color-beige] .event-item,
html[color-schema=color-beige] .filter-events__wrap {
    border-color: #4d4b43;
}

html[color-schema=color-beige] .event-item__date,
html[color-schema=color-beige] .event-item__address {
    color: #4d4b43;
}

html[color-schema=color-beige] .guide-photos__sum a:hover,
html[color-schema=color-beige] .guide__info a:hover,
html[color-schema=color-beige] .prof-helper__mail .fa-search {
    color: #4d4b43;
}

html[color-schema=color-beige] .search-tabs .custom-tab-item a {
    border-color: #4d4b43;
}

html[color-schema=color-beige] .search-tabs .custom-tab-item a {
    color: #4d4b43;
}

html[color-schema=color-beige] .search-tabs .custom-tab-item.active a {
    background-color: #4d4b43 !important;
    border-color: #4d4b43 !important;
    color: #fff !important;
}

html[color-schema=color-beige] .inf-card__text,
html[color-schema=color-beige] .inf-card__tag,
html[color-schema=color-beige] .inf-card__info {
    color: #4d4b43 !important;
}

html[color-schema=color-beige] .inf-card:hover {
    background-color: transparent;
}

html[color-schema=color-beige] .inf-card {
    border: 1px solid #4d4b43;
    background-color: transparent;
}

html[color-schema=color-beige] .icons__icon svg,
html[color-schema=color-beige] .icons__icon svg path,
html[color-schema=color-beige] .icons__icon .cls-1 {
    fill: #4d4b43 !important;
}

html[color-schema=color-beige] .event-item__title,
html[color-schema=color-beige] .member-steps__text a {
    color: #4d4b43 !important;
}

html[color-schema=color-beige] .sec-msc-top .sec-msc__bg {
    border: 1px solid #4d4b43;
    background-color: transparent;
}

html[color-schema=color-beige] .icons__box.active .icons__text,
html[color-schema=color-beige] .icons__box:hover .icons__text {
    color: #4d4b43 !important;
}

html[color-schema=color-beige] .test-list__type {
    color: #14171e;
}

html[color-schema=color-beige] .mapz-card__arrow:hover:after {
    border-color: #000 !important;
}

html[color-schema=color-beige] .mapz-card__box:hover * {
    color: #4d4b43 !important;
}

html[color-schema=color-beige] .mapz-card__icon svg {
    fill: #000 !important;
}

html[color-schema=color-beige] .test-list__item {
    border-color: #4d4b43 !important;
}

html[color-schema=color-beige] .new-panel .map-city__name {
    color: #4d4b43 !important;
}

html[color-schema=color-beige] .media-card__title {
    color: #4d4b43 !important;
}

html[color-schema=color-beige] .mos-soc__link {
    color: #4d4b43;
    border: 1px solid #4d4b43 !important;
}

html[color-schema=color-beige] .mos-soc__link .text {
    color: #4d4b43;
}

html[color-schema=color-beige] .mos-soc__link:hover .text,
html[color-schema=color-beige] .mos-soc__link:hover i {
    fill: #fff;
    color: #fff;
}

html[color-schema=color-beige] .mos-soc__link i {
    border-right-color: #4d4b43 !important;
}

html[color-schema=color-beige] .msc-slider__arrow {
    color: #4d4b43;
    border-color: #4d4b43;
}

html[color-schema=color-beige] .bg-gray .event-line-preview__box.bg-block-sm {
    border-color: #4d4b43 !important;
}

html[color-schema=color-brown] .test-result__social-item a:hover .fa,
html[color-schema=color-brown] .test-result__type,
html[color-schema=color-brown] .test-result__res {
    color: #a9e44d;
}

html[color-schema=color-brown] .filter-events__tab-reset:hover,
html[color-schema=color-brown] .filter-events__tab-reset:hover svg,
html[color-schema=color-brown] .filter-events__tab-reset:hover span,
html[color-schema=color-brown] .sidebar-test__header span {
    color: #a9e44d;
    fill: #a9e44d;
    border-color: #a9e44d;
}

html[color-schema=color-brown] .select-date .dropdown-toggle.btn-default .filter-option:before {
    background-image: url(../img/general/brown/calendar-line.svg) !important;
}

html[color-schema=color-brown] .sec-msc__slider .slick-dots li button {
    background-color: #a9e44d !important;
}

html[color-schema=color-brown] .aside__list-nav>li:after,
html[color-schema=color-brown] .spoiler-box--edit .spoiler-box__content:after,
html[color-schema=color-brown] .st:hover .stx {
    background-color: #a9e44d;
}

html[color-schema=color-brown] .aside__subtitle {
    padding-left: 0;
}

html[color-schema=color-brown] .btn-default-color,
html[color-schema=color-brown] .icons__box.active .icons__icon svg,
html[color-schema=color-brown] .icons__box:hover .icons__icon svg,
html[color-schema=color-brown] .icons__box.active .icons__icon svg path,
html[color-schema=color-brown] .icons__box:hover .icons__icon svg path,
html[color-schema=color-brown] .spoiler-box__button .btn-icon,
html[color-schema=color-brown] .item-wrap svg path {
    fill: #a9e44d !important;
}

html[color-schema=color-brown] .vac__title,
html[color-schema=color-brown] .vac__box:hover .vac__title,
html[color-schema=color-brown] .vac__sub,
html[color-schema=color-brown] .aside__subtitle,
html[color-schema=color-brown] .spoiler-box__content a:not([class]):hover,
html[color-schema=color-brown] .vac__box:hover .vac__sub,
html[color-schema=color-brown] .tag-block__text,
html[color-schema=color-brown] .cat-result__title,
html[color-schema=color-brown] .cat-result__text,
html[color-schema=color-brown] .poppover-info,
html[color-schema=color-brown] .mos-soc__link .text,
html[color-schema=color-brown] .guide-docs__date,
html[color-schema=color-brown] .news-card__date,
html[color-schema=color-brown] .header-nav>li:hover>a,
html[color-schema=color-brown] .guide-docs__type,
html[color-schema=color-brown] .spoiler-box__txt {
    color: #a9e44d !important;
}

html[color-schema=color-brown] .vac__box,
html[color-schema=color-brown] .side-info,
html[color-schema=color-brown] .cat-result__item {
    border-color: #a9e44d !important;
}

html[color-schema=color-brown] .aside__subtitle img {
    display: none;
}

html[color-schema=color-brown] .guide__title,
html[color-schema=color-brown] .guide__info-gray,
html[color-schema=color-brown] .guide__info-item,
html[color-schema=color-brown] .guide__text-wrap p,
html[color-schema=color-brown] .guide-photos__sum,
html[color-schema=color-brown] .cat-result__item,
html[color-schema=color-brown] .cat-result__item:hover,
html[color-schema=color-brown] .cat-result__show-more,
html[color-schema=color-brown] .avtorization-form .btn-and-text .forget-password:hover,
html[color-schema=color-brown] .cat-result__item:hover .cat-result__text,
html[color-schema=color-brown] .cat-result__item:hover .cat-result__title,
html[color-schema=color-brown] .cat-result__item:hover .fa {
    color: #a9e44d !important;
}

html[color-schema=color-brown] .aside__list-nav>li:after,
html[color-schema=color-brown] .guide__box {
    border-color: #a9e44d;
}

html[color-schema=color-brown] .guide__info a {
    border: none !important;
}

html[color-schema=color-brown] .colorsx {
    fill: #a9e44d;
}

html[color-schema=color-brown] .select-date .dropdown-menu.inner li a:before,
html[color-schema=color-brown] .guide__text-wrap {
    border-color: #a9e44d !important;
}

html[color-schema=color-brown] .mos-soc__link:hover {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.4);
}

html[color-schema=color-brown] .filter-events__tab {
    border-color: #a9e44d !important;
    color: #a9e44d !important;
    background-color: transparent !important;
}

html[color-schema=color-brown] .filter-events__tab:hover {
    text-decoration: underline;
}

html[color-schema=color-brown] .filter-events__tab.active {
    background-color: #a9e44d !important;
    border-color: #a9e44d !important;
    color: #fff !important;
}

html[color-schema=color-brown] .service-pop-banner .icon-banner svg {
    fill: #a9e44d !important;
}

html[color-schema=color-brown] .service-pop-banner .icon-banner svg {
    fill: #a9e44d !important;
}

html[color-schema=color-brown] .soc-center__local label:before {
    background-image: url("../img/general/brown/map-pin-line.svg");
}

html[color-schema=color-brown] .soc-center__metro label:before {
    background-image: url("../img/general/brown/metro.svg");
}

html[color-schema=color-brown] .soc-center__phone label:before {
    background-image: url("../img/general/brown/phone-line.svg");
}

html[color-schema=color-brown] .soc-center__network label:before {
    background-image: url("../img/general/brown/icon-internet.svg");
}

html[color-schema=color-brown] .soc-center__mail label:before {
    background-image: url("../img/general/brown/icon-mail.svg");
}

html[color-schema=color-brown] .soc-center__zon label:before {
    background-image: url("../img/general/brown/important.svg");
}

html[color-schema=color-brown] .action-preview .img svg .st-blue,
html[color-schema=color-brown] .action-preview .img svg .st-red,
html[color-schema=color-brown] .action-preview--main .action-preview__box .img svg,
html[color-schema=color-brown] .action-preview--main .action-preview__box .img svg * {
    fill: #a9e44d;
}

html[color-schema=color-brown] .event-item,
html[color-schema=color-brown] .filter-events__wrap {
    border-color: #a9e44d;
}

html[color-schema=color-brown] .event-item__date,
html[color-schema=color-brown] .event-item__address {
    color: #a9e44d;
}

html[color-schema=color-brown] .guide-photos__sum a:hover,
html[color-schema=color-brown] .guide__info a:hover,
html[color-schema=color-brown] .prof-helper__mail .fa-search {
    color: #a9e44d;
}

html[color-schema=color-brown] .search-tabs .custom-tab-item a {
    border-color: #a9e44d;
}

html[color-schema=color-brown] .search-tabs .custom-tab-item a {
    color: #a9e44d;
}

html[color-schema=color-brown] .search-tabs .custom-tab-item.active a {
    background-color: #a9e44d !important;
    border-color: #a9e44d !important;
    color: #fff !important;
}

html[color-schema=color-brown] .inf-card__text,
html[color-schema=color-brown] .inf-card__tag,
html[color-schema=color-brown] .inf-card__info {
    color: #a9e44d !important;
}

html[color-schema=color-brown] .inf-card:hover {
    background-color: transparent;
}

html[color-schema=color-brown] .inf-card {
    border: 1px solid #a9e44d;
    background-color: transparent;
}

html[color-schema=color-brown] .icons__icon svg,
html[color-schema=color-brown] .icons__icon svg path,
html[color-schema=color-brown] .icons__icon .cls-1 {
    fill: #a9e44d !important;
}

html[color-schema=color-brown] .event-item__title,
html[color-schema=color-brown] .member-steps__text a {
    color: #a9e44d !important;
}

html[color-schema=color-brown] .sec-msc-top .sec-msc__bg {
    border: 1px solid #a9e44d;
    background-color: transparent;
}

html[color-schema=color-brown] .icons__box.active .icons__text,
html[color-schema=color-brown] .icons__box:hover .icons__text {
    color: #a9e44d !important;
}

html[color-schema=color-brown] .test-list__type {
    color: #fff;
}

html[color-schema=color-brown] .mapz-card__arrow:after {
    border-color: #fff !important;
}

html[color-schema=color-brown] .mapz-card__arrow:hover:after {
    border-color: #000 !important;
}

html[color-schema=color-brown] .mapz-card__icon svg {
    fill: #a9e44d !important;
}

html[color-schema=color-brown] .test-qstn__name,
html[color-schema=color-brown] .test-result__share p,
html[color-schema=color-brown] .test-list__question,
html[color-schema=color-brown] .test-list__title,
html[color-schema=color-brown] .mos-cont__ell .prime a:hover,
html[color-schema=color-brown] .test-list__about {
    color: #a9e44d !important;
}

html[color-schema=color-brown] .bg-gray .event-line-preview__box.bg-block-sm,
html[color-schema=color-brown] .test-list__item {
    border-color: #a9e44d !important;
}

html[color-schema=color-black] .test-result__text a {
    color: gray !important;
    opacity: 0.6;
}

html[color-schema=color-black] .test-qstn__checkbox label {
    color: #fff !important;
}

html[color-schema=color-black] .filter-events__tab-reset:hover,
html[color-schema=color-black] .filter-events__tab-reset:hover svg,
html[color-schema=color-black] .filter-events__tab-reset:hover span {
    color: #fff;
    fill: #fff;
    border-color: #fff;
}

html[color-schema=color-black] .sec-msc__slider .slick-dots li button {
    background-color: #fff !important;
}

html[color-schema=color-black] .select-date .dropdown-menu.inner li a span:after {
    border-color: #fff !important;
}

html[color-schema=color-black] .mos-primeSlider__arrow:hover {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
}

html[color-schema=color-black] .mos-slider__arrow:hover {
    border-color: #d2d3d4;
}

html[color-schema=color-black] .sec-mos-prime .quotes-card:after,
html[color-schema=color-black] .sec-mos .quotes-card:after {
    display: none;
}

html[color-schema=color-black] .jq-checkbox.checked .jq-checkbox__div {
    background-color: transparent !important;
}

html[color-schema=color-black] .poppover-circle {
    background-color: #fff;
    color: #000;
}

html[color-schema=color-black] .st:hover .stx {
    fill: #cff1f9;
}

html[color-schema=color-black] .soc-tv-card:hover .soc-tv-card__title {
    text-decoration: underline;
}

html[color-schema=color-black] .forum-news-card:hover .forum-news-card__text,
html[color-schema=color-black] .forum-photo-card:hover .forum-photo-card__text,
html[color-schema=color-black] .soc-tv-card:hover .soc-tv-card__title,
html[color-schema=color-black] .cat-result__text,
html[color-schema=color-black] .news-card__date,
html[color-schema=color-black] .mos-cont__ell .prime a:hover,
html[color-schema=color-black] .guide-docs__date {
    color: #fff !important;
}

html[color-schema=color-black] .spoiler-box--edit .spoiler-box__content:after {
    background-color: #fff;
}

html[color-schema=color-black] .quiz-rersult-percent .progress {
    background-color: rgba(255, 255, 255, 0.2);
}

html[color-schema=color-black] .progress-bar.color-bg-block {
    background-color: #fff !important;
}

html[color-schema=color-black] .checked+label {
    color: #fff !important;
}

html[color-schema=color-black] .btn-default-color,
html[color-schema=color-black] .spoiler-box__button .btn-icon,
html[color-schema=color-black] .icons__box.active .icons__icon svg,
html[color-schema=color-black] .icons__box:hover .icons__icon svg,
html[color-schema=color-black] .icons__box.active .icons__icon svg path,
html[color-schema=color-black] .icons__box:hover .icons__icon svg path,
html[color-schema=color-black] .item-wrap svg path {
    fill: #fff !important;
}

html[color-schema=color-black] .vac__title,
html[color-schema=color-black] .vac__box:hover .vac__title,
html[color-schema=color-black] .vac__sub,
html[color-schema=color-black] .spoiler-box__content a:not([class]):hover,
html[color-schema=color-black] .tag-block__text,
html[color-schema=color-black] .vac__box:hover .vac__sub,
html[color-schema=color-black] .cat-result__title,
html[color-schema=color-black] .poppover-info,
html[color-schema=color-black] .header-nav>li:hover>a,
html[color-schema=color-black] .spoiler-box__txt {
    color: #fff !important;
}

html[color-schema=color-black] .vac__box,
html[color-schema=color-black] .cat-result__item {
    border-color: #fff !important;
}

html[color-schema=color-black] .aside__subtitle img {
    display: none;
}

html[color-schema=color-black] .aside__subtitle {
    padding-left: 0;
    color: #fff !important;
}

html[color-schema=color-black] .side-info {
    color: #fff;
}

html[color-schema=color-black] .cat-result__item,
html[color-schema=color-black] .cat-result__item:hover,
html[color-schema=color-black] .cat-result__show-more,
html[color-schema=color-black] .avtorization-form .btn-and-text .forget-password:hover,
html[color-schema=color-black] .cat-result__item:hover .cat-result__text,
html[color-schema=color-black] .cat-result__item:hover .cat-result__title,
html[color-schema=color-black] .cat-result__item:hover .fa {
    color: #fff !important;
}

html[color-schema=color-black] .mapz__show {
    background-color: #000 !important;
    color: #fff !important;
    border-color: #fff !important;
}

html[color-schema=color-black] .mapz__show:hover {
    background-color: #000 !important;
    color: #fff !important;
    border-color: #fff !important;
    text-decoration: underline !important;
}

html[color-schema=color-black] .soc-helper__tags-ell:hover {
    background-color: transparent !important;
}

html[color-schema=color-black] .select-date .dropdown-toggle.btn-default .filter-option:before,
html[color-schema=color-black] .select-date .dropdown-toggle.btn-default .filter-option:focus:before,
html[color-schema=color-black] .select-date .dropdown-toggle.btn-default .filter-option:hover:before,
html[color-schema=color-black] .select-date .dropdown-toggle.btn-default:focus .filter-option:before,
html[color-schema=color-black] .select-date .dropdown-toggle.btn-default:hover .filter-option:before,
html[color-schema=color-black] .select-date .btn-default[aria-expanded=true] .filter-option:before {
    background-image: url(../img/general/calendar-white.svg) !important;
}

html[color-schema=color-black] .form-group__tab.active,
html[color-schema=color-black] .form-group__tab:hover {
    background-color: transparent !important;
}

html[color-schema=color-black] .sec-mos a.link-color:hover i,
html[color-schema=color-black] .sec-mos a.link-color:hover,
html[color-schema=color-black] .guide__title,
html[color-schema=color-black] .guide__info-item,
html[color-schema=color-black] .guide__info-gray,
html[color-schema=color-black] .guide__text-wrap p,
html[color-schema=color-black] .guide-docs__type,
html[color-schema=color-black] .guide-photos__sum,
html[color-schema=color-black] .quotes-card__autor .descr {
    color: #fff !important;
}

html[color-schema=color-black] .guide__info a {
    border-bottom-color: #fff;
}

html[color-schema=color-black] .mos-slider__arrow:hover {
    background-color: transparent;
}

html[color-schema=color-black] .quotes-card {
    background-color: transparent;
    border: 1px solid #fff;
}

html[color-schema=color-black] .colorsx {
    fill: #fff;
}

html[color-schema=color-black] .mos-soc__link:hover {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.4);
}

html[color-schema=color-black] .filter-events__tab {
    border-color: #fff !important;
    color: #fff !important;
    background-color: transparent !important;
}

html[color-schema=color-black] .filter-events__tab:hover {
    text-decoration: underline;
}

html[color-schema=color-black] .select-date .dropdown-menu.inner li a:before {
    border-color: #fff !important;
}

html[color-schema=color-black] .filter-events__tab.active {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #000 !important;
}

html[color-schema=color-black] .service-pop-banner .icon-banner svg {
    fill: #fff !important;
}

html[color-schema=color-black] .soc-center__local label:before {
    background-image: url("../img/general/black/map-pin-line.svg");
}

html[color-schema=color-black] .soc-center__metro label:before {
    background-image: url("../img/general/black/metro.svg");
}

html[color-schema=color-black] .soc-center__phone label:before {
    background-image: url("../img/general/black/phone-line.svg");
}

html[color-schema=color-black] .soc-center__network label:before {
    background-image: url("../img/general/black/icon-internet.svg");
}

html[color-schema=color-black] .soc-center__mail label:before {
    background-image: url("../img/general/black/icon-mail.svg");
}

html[color-schema=color-black] .soc-center__zon label:before {
    background-image: url("../img/general/black/important.svg");
}

html[color-schema=color-black] .action-preview .img svg .st-blue,
html[color-schema=color-black] .action-preview .img svg .st-red,
html[color-schema=color-black] .action-preview--main .action-preview__box .img svg,
html[color-schema=color-black] .action-preview--main .action-preview__box .img svg * {
    fill: #fff;
}

html[color-schema=color-black] .event-item,
html[color-schema=color-black] .filter-events__wrap {
    border-color: #fff;
}

html[color-schema=color-black] .event-item__date,
html[color-schema=color-black] .event-item__address {
    color: #fff;
}

html[color-schema=color-black] .guide-photos__sum a:hover,
html[color-schema=color-black] .guide__info a:hover,
html[color-schema=color-black] .prof-helper__mail .fa-search {
    color: #fff;
}

html[color-schema=color-black] .search-tabs .custom-tab-item a {
    color: #fff;
}

html[color-schema=color-black] .search-tabs .custom-tab-item.active a {
    background-color: #fff !important;
    border-color: #ffff !important;
    color: #000 !important;
}

html[color-schema=color-black] .prof-helper__mail .fa-search {
    color: #fff !important;
}

html[color-schema=color-black] .mapz.mapz-small .mapz__tabheader .mapz__tabname {
    color: #000;
}

html[color-schema=color-black] .icons__icon svg,
html[color-schema=color-black] .icons__icon svg path,
html[color-schema=color-black] .icons__icon .cls-1 {
    fill: #fff !important;
}

html[color-schema=color-black] .event-item__title,
html[color-schema=color-black] .member-steps__text a {
    color: #fff !important;
}

html[color-schema=color-black] .inf-card__text,
html[color-schema=color-black] .inf-card__tag,
html[color-schema=color-black] .inf-card__info {
    color: #fff !important;
}

html[color-schema=color-black] .inf-card:hover {
    background-color: transparent;
}

html[color-schema=color-black] .inf-card {
    border: 1px solid #fff;
    background-color: transparent;
}

html[color-schema=color-black] .sec-msc-top .sec-msc__bg {
    border: 1px solid #fff;
    background-color: transparent;
}

html[color-schema=color-black] .icons__box.active .icons__text,
html[color-schema=color-black] .icons__box:hover .icons__text {
    color: #fff !important;
}

html[color-schema=color-black] .test-list__type,
html[color-schema=color-black] .sec-map__na {
    color: #fff;
}

html[color-schema=color-black] .mapz-card__input input,
html[color-schema=color-black] .test-link__type,
html[color-schema=color-black] .test-link__name {
    color: #000 !important;
}

html[color-schema=color-black] .test-qstn__name,
html[color-schema=color-black] .test-result__share p,
html[color-schema=color-black] .test-list__title,
html[color-schema=color-black] .test-list__about,
html[color-schema=color-black] .test-list__question {
    color: #fff;
}

html[color-schema=color-black] .mapz-card__icon svg {
    fill: #fff !important;
}

html[color-schema=color-beige] .cat-result__show-more span,
html[color-schema=color-brown] .cat-result__show-more span,
html[color-schema=color-blue] .cat-result__show-more span,
html[color-schema=color-black] .cat-result__show-more span {
    border: none !important;
}

html[color-schema=color-beige] .cat-result__show-more,
html[color-schema=color-brown] .cat-result__show-more,
html[color-schema=color-blue] .cat-result__show-more,
html[color-schema=color-black] .cat-result__show-more {
    border: none;
}

html[color-schema=color-beige] .cat-result__show-more:hover,
html[color-schema=color-brown] .cat-result__show-more:hover,
html[color-schema=color-blue] .cat-result__show-more:hover,
html[color-schema=color-black] .cat-result__show-more:hover {
    text-decoration: underline;
}

html[color-schema=color-beige] .test-result .btn-repeat span,
html[color-schema=color-brown] .test-result .btn-repeat span,
html[color-schema=color-blue] .test-result .btn-repeat span,
html[color-schema=color-black] .test-result .btn-repeat span {
    display: none;
}

html[color-schema=color-beige] .test-result .btn-repeat,
html[color-schema=color-brown] .test-result .btn-repeat,
html[color-schema=color-blue] .test-result .btn-repeat,
html[color-schema=color-black] .test-result .btn-repeat {
    text-align: center;
    justify-content: center;
}

html[color-schema=color-beige] .section,
html[color-schema=color-brown] .section,
html[color-schema=color-blue] .section,
html[color-schema=color-black] .section {
    border-bottom: none !important;
}

.jq-checkbox.checked .jq-checkbox__div {
    background-image: url(../img/general/icon/check.svg) !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

html[color-schema=color-beige] .bg-block-sm--border,
html[color-schema=color-beige] .border-block-sm,
html[color-schema=color-beige] .spoiler-box .spoiler-box__carret,
html[color-schema=color-beige] .spoiler-box:hover .spoiler-box__carrgitet {
    background-color: #f7f3d6 !important;
}

html[color-schema=color-beige] .bg-block-sm--border:after,
html[color-schema=color-beige] .bg-block-sm--border:before,
html[color-schema=color-beige] .border-block-sm:after,
html[color-schema=color-beige] .border-block-sm:before,
html[color-schema=color-beige] .spoiler-box .spoiler-box__carret:after,
html[color-schema=color-beige] .spoiler-box .spoiler-box__carret:before,
html[color-schema=color-beige] .spoiler-box:hover .spoiler-box__carrgitet:after,
html[color-schema=color-beige] .spoiler-box:hover .spoiler-box__carrgitet:before {
    background-color: #4d4b43 !important;
}

html[img-display=hide] {
    border: 1px solid #fff;
}

html[img-display=hide] .msclv-item__img,
html[img-display=hide] .event-item__image,
html[img-display=hide] .msc-item__img {
    display: none;
}

html[img-display=hide] .guide__image {
    display: none;
}

html[img-display=mono] .mos-prime-slide,
html[img-display=mono] .special-projects__icon,
html[img-display=mono] .areas-practice__icon-wr,
html[img-display=mono] #blckMetroInner,
html[img-display=mono] .sec-map__block {
    -webkit-filter: grayscale(100%) !important;
    -moz-filter: grayscale(100%) !important;
    -ms-filter: grayscale(100%) !important;
    -o-filter: grayscale(100%) !important;
    filter: grayscale(100%) !important;
    -webkit-filter: gray !important;
    filter: gray !important;
}

.mapz-card__content:after {
    display: none;
}


/*# sourceMappingURL=version.css.map */